{
    "openapi": "3.0.1",
    "info": {
        "title": "IN-FORM API",
        "description": "This document describes IN-FORM API providing access to the IN-FORM's data. API is build basis on REST architecture. Access to the resources is made by using one of possible request presented below.",
        "contact": {},
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://testapi.in-software.com/v1/"
        }
    ],
    "security": [
        {
            "oAuth2": []
        }
    ],
    "tags": [
        {
            "name": "documentation",
            "description": "Access to openApi documentation"
        },
        {
            "name": "licenses",
            "description": "Basic informations about licence."
        },
        {
            "name": "authorization",
            "description": "Methods needed for authorization operation."
        },
        {
            "name": "companies",
            "description": "Access to IN-FORM companies resources."
        },
        {
            "name": "search",
            "description": "Searching in multiple resurces kinds in IN-FORM."
        },
        {
            "name": "employees",
            "description": "Access to IN-FORM's employees resources."
        },
        {
            "name": "equipment",
            "description": "Access to IN-FORM's equipment resources."
        },
        {
            "name": "mailboxes",
            "description": "Access to IN-FORM's mailboxes resources."
        },
        {
            "name": "addresses",
            "description": "Access to IN-FORM's addresses resources."
        },
        {
            "name": "contacts",
            "description": "Access to IN-FORM's contacts resources."
        },
        {
            "name": "items",
            "description": "Access to IN-FORM's items resources."
        },
        {
            "name": "documents",
            "description": "Access to IN-FORM's documents resources."
        },
        {
            "name": "projects",
            "description": "Access to IN-FORM's projects resources."
        },
        {
            "name": "calendarEvents",
            "description": "Access to IN-FORM's calendar events."
        },
        {
            "name": "timeTracking",
            "description": "Access to IN-FORM's time tracking entries API."
        },
        {
            "name": "servicedObjects",
            "description": "Access to IN-FORM's serviced objects resources"
        },
        {
            "name": "attachments",
            "description": "Access to IN-FORM's attachments resources."
        },
        {
            "name": "reports",
            "description": "Access to IN-FORM's reports and statistics."
        },
        {
            "name": "printouts",
            "description": "Access to IN-FORM's printouts."
        },
        {
            "name": "globalSettings",
            "description": "Access to IN-FORM's global settings."
        },
        {
            "name": "settings",
            "description": "Access to IN-FORM's settings."
        },
        {
            "name": "system",
            "description": "Access to IN-FORM's system informations."
        }
    ],
    "paths": {
        "/companies/{company}/contacts": {
            "post": {
                "tags": [
                    "contacts"
                ],
                "summary": "postContact",
                "description": "Used to create a contact entry for an address.<br><br>Minimal IN-FORM version required: **2025.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "postContact",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/postContactModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/objectModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:contacts:write"
                        ]
                    }
                ],
                "x-minInformVersion": "2025.00"
            },
            "get": {
                "tags": [
                    "contacts"
                ],
                "summary": "getContacts",
                "description": "Used to get a list of contact entries for an address.<br><br>Minimal IN-FORM version required: **2025.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getContacts",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset from the beginning of collection of possible results.",
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Maximum number of returned addresses.",
                        "schema": {
                            "maximum": 1000,
                            "minimum": 1,
                            "type": "integer",
                            "default": 50
                        }
                    },
                    {
                        "name": "phrase",
                        "in": "query",
                        "required": false,
                        "description": "Returns data containing the text.",
                        "example": "London",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "addressKey",
                        "in": "query",
                        "required": false,
                        "description": "Key of the address in IN-FORM to which the contacts are assigned.",
                        "example": "BACHE",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "description": "Results sorting order.<br>Suffix .**asc** means ascending order, .**desc** means descending order.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "default": [
                                "key.asc"
                            ],
                            "items": {
                                "type": "string",
                                "enum": [
                                    "key.asc",
                                    "key.desc",
                                    "dateTime.asc",
                                    "dateTime.desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "List of fields which need to be returned in response.<br>When **fields** parameter is set to ***all***, then all available data are returned.<br>When **fields** parameter is empty or is set to ***default***, then request returns:<br>`key`<br>`dateTime`<br>`addressKey`<br>`status`<br>`employeeKey`<br>`mainProject`",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "key,dateTime,note"
                            },
                            "default": [
                                "default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/contactListModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:contacts:read"
                        ]
                    }
                ],
                "x-minInformVersion": "2025.00"
            }
        },
        "/companies/{company}/contacts/{key}": {
            "get": {
                "tags": [
                    "contacts"
                ],
                "summary": "getContact",
                "description": "Used to get Contact data.<br><br>Minimal IN-FORM version required: **2025.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getContact",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the contact.",
                        "example": "254",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "List of fields which need to be returned in response.<br>When **fields** parameter is set to ***all***, then all available data are returned.<br>When **fields** parameter is empty or is set to ***default***, then request returns:<br>`key`<br>`dateTime`<br>`addressKey`<br>`status`<br>`employeeKey`<br>`mainProject`",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "key,dateTime,note"
                            },
                            "default": [
                                "default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "eTag": {
                                "schema": {
                                    "$ref": "#/components/schemas/etagResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/contactModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:contacts:read"
                        ]
                    }
                ],
                "x-minInformVersion": "2025.00"
            },
            "patch": {
                "tags": [
                    "contacts"
                ],
                "summary": "patchContact",
                "description": "Used to update a contact entry.<br><br>Minimal IN-FORM version required: **2025.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "patchContact",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the contact.",
                        "example": "254",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "in": "header",
                        "required": false,
                        "description": "Optional checksum used to prevent overwriting changes made to the resource by other users.<br>In order to use this mechanism, this header needs to be filled with value returned in **eTag** header of getCalendarEvent response.",
                        "example": "a0d32389a5322b663f62b1efb4626b7d4dc981da9142cd8be3a566f5b2f5ba5f",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/patchContactModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "eTag": {
                                "schema": {
                                    "$ref": "#/components/schemas/etagResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/objectModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:contacts:write"
                        ]
                    }
                ],
                "x-minInformVersion": "2025.00"
            }
        },
        "/globalSettings/calendarEvents": {
            "get": {
                "x-minInformVersion": "2023.50",
                "tags": [
                    "globalSettings"
                ],
                "summary": "getCalendarEventsSettings",
                "description": "Used to get global settings for calendar events.<br><br>Minimal IN-FORM version required: **2023.50**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getCalendarEventsSettings",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/calendarEventsSettingsModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calendarEventsOccurrences": {
            "get": {
                "tags": [
                    "calendarEvents"
                ],
                "summary": "getCalendarEventsOccurrences",
                "description": "Used to get a list of calendar events occurrences for specified owner. Both standard events and serial events occurrences will be returned.<br><br>Minimal IN-FORM version required: **2024.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getCalendarEventsOccurrences",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset from the beginning of collection of possible results.",
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Maximum number of returned events.",
                        "schema": {
                            "maximum": 1000,
                            "minimum": 1,
                            "type": "integer",
                            "default": 50
                        }
                    },
                    {
                        "name": "ownerKey",
                        "in": "query",
                        "required": true,
                        "description": "Identification key of the employee that is owner of the events.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endDateTime.gte",
                        "in": "query",
                        "required": true,
                        "description": "Event's end date and time greater than or equal to the given date in ISO 8601 format.",
                        "example": "2022-10-12T12:00:00Z",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "startDateTime.lte",
                        "in": "query",
                        "required": true,
                        "description": "Event's start date and time less than or equal to the given date in ISO 8601 format.",
                        "example": "2022-10-12T14:00:00Z",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "List of fields which need to be returned in response.<br>When **fields** parameter is set to ***all***, then all available data are returned.<br>When **fields** parameter is empty or is set to ***default***, then request returns:<br>`key`<br>`occurrenceId`<br>`subject`<br>`ownerKey`<br>`eventCategory`<br>`startDateTime`<br>`endDateTime`",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "key,eventCategory,startDateTime,endDateTime"
                            },
                            "default": [
                                "default"
                            ]
                        }
                    },
                    {
                        "name": "x-polling-id",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/xPollingIdRequestModel"
                        }
                    },
                    {
                        "name": "x-polling-timeout",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/xPollingTimeoutRequestModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "x-polling-id": {
                                "schema": {
                                    "$ref": "#/components/schemas/xPollingIdResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/calendarEventsListModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:communicationSystem:readWrite"
                        ]
                    }
                ],
                "x-minInformVersion": "2024.00"
            }
        },
        "/calendarEvents": {
            "post": {
                "tags": [
                    "calendarEvents"
                ],
                "summary": "postCalendarEvent",
                "description": "Used to create a calendar event in IN-FORM.<br><br>Minimal IN-FORM version required: **2024.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "postCalendarEvent",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/postCalendarEventModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/postCalendarEventResponseModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:communicationSystem:readWrite"
                        ]
                    }
                ],
                "x-minInformVersion": "2024.00"
            }
        },
        "/calendarEvents/{key}": {
            "get": {
                "tags": [
                    "calendarEvents"
                ],
                "summary": "getCalendarEvent",
                "description": "Used to get data for specified calendar event.<br><br>Minimal IN-FORM version required: **2023.50**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getCalendarEvent",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the calendar event.",
                        "example": "73797900000001",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "List of fields which need to be returned in response.<br>When **fields** parameter is set to ***all***, then all available data are returned.<br>When **fields** parameter is empty or is set to ***default***, then request returns:<br>`key`<br>`eventMode`<br>`subject`<br>`ownerKey`<br>`eventCategory`<br>`startDateTime` (for **eventMode = single**)<br>`endDateTime` (for **eventMode = single**)<br>`seriesStartDate` (for **eventMode = serial**)<br>`seriesEndDate` (for **eventMode = serial**)<br>`occurrenceStartTime` (for **eventMode = serial**)<br>`occurrenceEndTime` (for **eventMode = serial**)",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "key,eventCategory,startDateTime,endDateTime"
                            },
                            "default": [
                                "default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "eTag": {
                                "schema": {
                                    "$ref": "#/components/schemas/etagResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/calendarEventModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:communicationSystem:readWrite"
                        ]
                    }
                ],
                "x-minInformVersion": "2023.50"
            },
            "patch": {
                "tags": [
                    "calendarEvents"
                ],
                "summary": "patchCalendarEvent",
                "description": "Use this request to modify a calendar event.<br><br>Minimal IN-FORM version required: **2024.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "patchCalendarEvent",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the calendar event.",
                        "example": "73797900000001",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "in": "header",
                        "required": false,
                        "description": "Optional checksum used to prevent overwriting changes made to the resource by other users.<br>In order to use this mechanism, this header needs to be filled with value returned in **eTag** header of getCalendarEvent response.",
                        "example": "a0d32389a5322b663f62b1efb4626b7d4dc981da9142cd8be3a566f5b2f5ba5f",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/patchCalendarEventModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "eTag": {
                                "schema": {
                                    "$ref": "#/components/schemas/etagResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/objectModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:communicationSystem:readWrite"
                        ]
                    }
                ],
                "x-minInformVersion": "2024.00"
            },
            "delete": {
                "tags": [
                    "calendarEvents"
                ],
                "summary": "deleteCalendarEvent",
                "description": "Use this request to delete a calendar event.<br><br>Minimal IN-FORM version required: **2024.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "deleteCalendarEvent",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the calendar event.",
                        "example": "73797900000001",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "moveToTrash",
                        "in": "query",
                        "required": false,
                        "description": "Flag indicating if the calendar event should be removed permanently or moved to deleted objects folder.",
                        "example": true,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "if-match",
                        "in": "header",
                        "required": false,
                        "description": "Optional checksum used to prevent overwriting changes made to the resource by other users.<br>In order to use this mechanism, this header needs to be filled with value returned in **eTag** header of getCalendarEvent response.",
                        "example": "a0d32389a5322b663f62b1efb4626b7d4dc981da9142cd8be3a566f5b2f5ba5f",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/objectModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:communicationSystem:readWrite"
                        ]
                    }
                ],
                "x-minInformVersion": "2024.00"
            }
        },
        "/calendarEvents/{key}/occurrences/{occurrenceId}": {
            "get": {
                "tags": [
                    "calendarEvents"
                ],
                "summary": "getCalendarSerialEventOccurrence",
                "description": "Used to get data for an occurence of a serial calendar event.<br><br>Minimal IN-FORM version required: **2024.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getCalendarSerialEventOccurrence",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the calendar event.",
                        "example": "73797900000001",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "occurrenceId",
                        "in": "path",
                        "required": true,
                        "description": "Identification of the occurrence of the event.",
                        "example": "737854",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "List of fields which need to be returned in response.<br>When **fields** parameter is set to ***all***, then all available data are returned.<br>When **fields** parameter is empty or is set to ***default***, then request returns:<br>`key`<br>`occurrenceId`<br>`subject`<br>`ownerKey`<br>`eventCategory`<br>`startDateTime`<br>`endDateTime`",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "key,eventCategory,startDateTime,endDateTime"
                            },
                            "default": [
                                "default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "eTag": {
                                "schema": {
                                    "$ref": "#/components/schemas/etagResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/calendarEventOccurrenceModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:communicationSystem:readWrite"
                        ]
                    }
                ],
                "x-minInformVersion": "2024.00"
            },
            "patch": {
                "tags": [
                    "calendarEvents"
                ],
                "summary": "patchCalendarSerialEventOccurrence",
                "description": "Use this request to modify an occurence of a serial calendar event.<br><br>Minimal IN-FORM version required: **2024.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "patchCalendarSerialEventOccurrence",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the calendar event.",
                        "example": "73797900000001",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "occurrenceId",
                        "in": "path",
                        "required": true,
                        "description": "Identification of the occurrence of the event.",
                        "example": "737854",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "in": "header",
                        "required": false,
                        "description": "Optional checksum used to prevent overwriting changes made to the resource by other users.<br>In order to use this mechanism, this header needs to be filled with value returned in **eTag** header of getCalendarSerialEventOccurrence response.",
                        "example": "a0d32389a5322b663f62b1efb4626b7d4dc981da9142cd8be3a566f5b2f5ba5f",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/patchCalendarEventOccurrenceModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "eTag": {
                                "schema": {
                                    "$ref": "#/components/schemas/etagResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/objectModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:communicationSystem:readWrite"
                        ]
                    }
                ],
                "x-minInformVersion": "2024.00"
            },
            "delete": {
                "tags": [
                    "calendarEvents"
                ],
                "summary": "deleteCalendarSerialEventOccurrence",
                "description": "Use this request to delete an occurence of a serial calendar event. Serial event occurrences cannot be moved to trash and are always deleted permanently.<br><br>Minimal IN-FORM version required: **2024.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "deleteCalendarSerialEventOccurrence",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the calendar event.",
                        "example": "73797900000001",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "occurrenceId",
                        "in": "path",
                        "required": true,
                        "description": "Identification of the occurrence of the event.",
                        "example": "737854",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "in": "header",
                        "required": false,
                        "description": "Optional checksum used to prevent overwriting changes made to the resource by other users.<br>In order to use this mechanism, this header needs to be filled with value returned in **eTag** header of getCalendarSerialEventOccurrence response.",
                        "example": "a0d32389a5322b663f62b1efb4626b7d4dc981da9142cd8be3a566f5b2f5ba5f",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/objectModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:communicationSystem:readWrite"
                        ]
                    }
                ],
                "x-minInformVersion": "2024.00"
            }
        },
        "/companies/{company}/printouts/prepare": {
            "post": {
                "tags": [
                    "printouts"
                ],
                "summary": "preparePrintout",
                "description": "Used to start preparing specified printout.<br>Returns ID of requested printout, which can be used in getPrintout request to download it.<br><br>Minimal IN-FORM version required: **2023.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "preparePrintout",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/preparePrintoutBodyModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Specified printout is ready.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/preparePrintoutResponseModel"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Order for printout has been accepted and added to the queue.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/preparePrintoutResponseModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": []
                    }
                ],
                "x-minInformVersion": "2023.00"
            }
        },
        "/companies/{company}/printouts/results/{id}/state": {
            "get": {
                "tags": [
                    "printouts"
                ],
                "summary": "getPrintoutState",
                "description": "Used to get printout state, using ID returned from preparePrintout request.<br><br>Minimal IN-FORM version required: **2023.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getPrintoutState",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Printout ID returned from preparePrintout request.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/getPrintoutStateResponseModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": []
                    }
                ],
                "x-minInformVersion": "2023.00"
            }
        },
        "/companies/{company}/printouts/results/{id}": {
            "get": {
                "tags": [
                    "printouts"
                ],
                "summary": "getPrintout",
                "description": "Used to get printout (in PDF format), using ID returned from preparePrintout request.<br><br>Minimal IN-FORM version required: **2023.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getPrintout",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Printout ID returned from preparePrintout request.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startPage",
                        "in": "query",
                        "required": false,
                        "description": "First page to get from printout.",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "endPage",
                        "in": "query",
                        "required": false,
                        "description": "Last page to get from printout. If value is **0**, then returns printout from `startPage` to the end of printout.",
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "$ref": "#/components/schemas/fileModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": []
                    }
                ],
                "x-minInformVersion": "2023.00"
            }
        },
        "/companies/{company}/reports/invoicesBalance": {
            "get": {
                "tags": [
                    "reports"
                ],
                "summary": "getInvoiceBalanceReport",
                "description": "Used to get this months invoices balance report.<br><br>Minimal IN-FORM version required: **2022.50**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getInvoiceBalanceReport",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/invoicesBalanceReportModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:reports:read"
                        ]
                    }
                ],
                "x-minInformVersion": "2022.50"
            }
        },
        "/companies/{company}/reports/workingTimeSummary": {
            "get": {
                "tags": [
                    "reports"
                ],
                "summary": "getTimeSummaryReport",
                "description": "Used to get this months employees working time summary report.<br><br>Minimal IN-FORM version required: **2022.50**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getTimeSummaryReport",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/workingTimeSummaryReportModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuth2": [
                            "api:reports:read"
                        ]
                    }
                ],
                "x-minInformVersion": "2022.50"
            }
        },
        "/companies": {
            "get": {
                "tags": [
                    "companies"
                ],
                "summary": "getCompanies",
                "description": "Use this request to get the list of companies in IN-FORM which user is allowed to work with.<br><br>Minimal IN-FORM version required: **2022.50**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getCompanies",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset from the beginning of collection of possible results.",
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Maximum number of returned companies.",
                        "schema": {
                            "maximum": 1000,
                            "minimum": 1,
                            "type": "integer",
                            "default": 50
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "List of fields which need to be returned in response.<br>When **fields** parameter is set to ***all***, then all available data are returned.<br>When **fields** parameter is empty or is set to ***default***, then request returns:<br>`companyName`<br>`companyDataReadyToUse`",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "companyName,companyLogo"
                            },
                            "default": [
                                "default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/companyListModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "x-minInformVersion": "2022.50"
            }
        },
        "/companies/{company}": {
            "get": {
                "tags": [
                    "companies"
                ],
                "summary": "getCompany",
                "description": "Use this request to get informations about specified company in IN-FORM.<br><br>Minimal IN-FORM version required: **2022.50**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getCompany",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "List of fields which need to be returned in response.<br>When **fields** parameter is set to ***all***, then all available data are returned.<br>When **fields** parameter is empty or is set to ***default***, then request returns:<br>`companyName`<br>`companyDataReadyToUse`",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "companyName,companyLogo"
                            },
                            "default": [
                                "default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/companyModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "x-minInformVersion": "2022.50"
            }
        },
        "/companies/{company}/binaryData/{field}": {
            "get": {
                "tags": [
                    "companies"
                ],
                "summary": "getBinaryDataFromCompany",
                "description": "Use this endpoint to get efficiently the single, selected field, containing large data from specified company in IN-FORM as binary data.<br>It works faster, than **getCompany** request.<br><br>Minimal IN-FORM version required: **2024.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getBinaryDataFromCompany",
                "parameters": [
                    {
                        "name": "company",
                        "in": "path",
                        "required": true,
                        "description": "Name of the company in IN-FORM.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "field",
                        "in": "path",
                        "required": true,
                        "description": "Name of the field, which need to be returned in response.<br>Currently available fields are:<br>`companyLogo`",
                        "schema": {
                            "type": "string",
                            "example": "companyLogo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "$ref": "#/components/schemas/fileModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "x-minInformVersion": "2024.00"
            }
        },
        "/employees": {
            "get": {
                "tags": [
                    "employees"
                ],
                "summary": "getEmployees",
                "description": "Use this request to get the list of employees in IN-FORM with their information.<br><br>Minimal IN-FORM version required: **2022.50**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getEmployees",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset from the beginning of collection of possible results.",
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Maximum number of returned employees.",
                        "schema": {
                            "maximum": 1000,
                            "minimum": 1,
                            "type": "integer",
                            "default": 50
                        }
                    },
                    {
                        "name": "phrase",
                        "in": "query",
                        "required": false,
                        "description": "Returns data containing the text.",
                        "example": "production",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rights.general.desktopAccess",
                        "in": "query",
                        "required": false,
                        "description": "Flag indicating if the employee has the ability to start IN-FORM desktop application.",
                        "example": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "employmentEndDate.gte",
                        "in": "query",
                        "required": false,
                        "description": "Employment end date greater than or equal to the given date in ISO 8601 format.<br><br>Minimal IN-FORM version required: **2025.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                        "example": "2024-10-10",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        },
                        "x-minInformVersion": "2025.00"
                    },
                    {
                        "name": "employmentEndDate.lte",
                        "in": "query",
                        "required": false,
                        "description": "Employment end date less than or equal to the given date in ISO 8601 format.<br><br>Minimal IN-FORM version required: **2025.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                        "example": "2024-10-10",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        },
                        "x-minInformVersion": "2025.00"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "description": "Results sorting order.<br>Suffix .**asc** means ascending order, .**desc** means descending order.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "default": [
                                "key.asc"
                            ],
                            "items": {
                                "type": "string",
                                "enum": [
                                    "key.asc",
                                    "key.desc",
                                    "group.asc",
                                    "group.desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "List of fields which need to be returned in response.<br>When **fields** parameter is set to ***all***, then all available data are returned.<br>When **fields** parameter is empty or is set to ***default***, then request returns:<br>`key`<br>`name`<br>`group`",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "key,name,avatar"
                            },
                            "default": [
                                "default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/employeesModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "x-minInformVersion": "2022.50"
            }
        },
        "/employees/{key}": {
            "get": {
                "tags": [
                    "employees"
                ],
                "summary": "getEmployee",
                "description": "Use this request to get the informations about specified employee in IN-FORM.<br><br>Minimal IN-FORM version required: **2022.50**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getEmployee",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the employee.",
                        "example": "BECKER",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "List of fields which need to be returned in response.<br>When **fields** parameter is set to ***all***, then all available data are returned.<br>When **fields** parameter is empty or is set to ***default***, then request returns:<br>`key`<br>`name`<br>`group`",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "key,name,avatar"
                            },
                            "default": [
                                "default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "eTag": {
                                "schema": {
                                    "$ref": "#/components/schemas/etagResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/employeeModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "x-minInformVersion": "2022.50"
            },
            "patch": {
                "tags": [
                    "employees"
                ],
                "summary": "patchEmployee",
                "description": "Use this request to modify the informations about specified employee.<br><br>Minimal IN-FORM version required: **2022.50**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "patchEmployee",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the employee.",
                        "example": "BECKER",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "if-match",
                        "in": "header",
                        "required": false,
                        "description": "Optional checksum used to prevent overwriting changes made to the resource by other users.<br>In order to use this mechanism, this header needs to be filled with value returned in **eTag** header of getEmployee or getBinaryDataFromEmployee response.",
                        "example": "a0d32389a5322b663f62b1efb4626b7d4dc981da9142cd8be3a566f5b2f5ba5f",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/employeePatchModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "eTag": {
                                "schema": {
                                    "$ref": "#/components/schemas/etagResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/objectModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "x-minInformVersion": "2022.50",
                "x-codegen-request-body-name": "body"
            }
        },
        "/employees/{key}/binaryData/{field}": {
            "get": {
                "tags": [
                    "employees"
                ],
                "summary": "getBinaryDataFromEmployee",
                "description": "Use this endpoint to get efficiently the single, selected field, containing large data from specified employee as binary data.<br>It works faster, than **getEmployee** request.<br><br>Minimal IN-FORM version required: **2024.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getBinaryDataFromEmployee",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the employee.",
                        "example": "BECKER",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "field",
                        "in": "path",
                        "required": true,
                        "description": "Name of the field, which need to be returned in response.<br>Currently available fields are:<br>`avatar`",
                        "schema": {
                            "type": "string",
                            "example": "avatar"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "eTag": {
                                "schema": {
                                    "$ref": "#/components/schemas/etagResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "$ref": "#/components/schemas/fileModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "x-minInformVersion": "2024.00"
            },
            "patch": {
                "tags": [
                    "employees"
                ],
                "summary": "patchBinaryDataInEmployee",
                "description": "Use this endpoint to update efficiently the single, selected field, containing large data in specified employee as binary data.<br>It works faster, than **patchEmployee** request.<br><br>Minimal IN-FORM version required: **2024.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "patchBinaryDataInEmployee",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the employee.",
                        "example": "BECKER",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "field",
                        "in": "path",
                        "required": true,
                        "description": "Name of the field, which need to be updated.<br>Currently available fields are:<br>`avatar`",
                        "schema": {
                            "type": "string",
                            "example": "avatar"
                        }
                    },
                    {
                        "name": "if-match",
                        "in": "header",
                        "required": false,
                        "description": "Optional checksum used to prevent overwriting changes made to the resource by other users.<br>In order to use this mechanism, this header needs to be filled with value returned in **eTag** header of getEmployee or getBinaryDataFromEmployee response.",
                        "example": "a0d32389a5322b663f62b1efb4626b7d4dc981da9142cd8be3a566f5b2f5ba5f",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/patchBinaryDataModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "headers": {
                            "eTag": {
                                "schema": {
                                    "$ref": "#/components/schemas/etagResponseModel"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/objectModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "x-minInformVersion": "2024.00"
            }
        },
        "/equipment": {
            "get": {
                "tags": [
                    "equipment"
                ],
                "summary": "listEquipment",
                "description": "Use this request to get the list of equipment in IN-FORM.<br><br>Minimal IN-FORM version required: **2025.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "listEquipment",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset from the beginning of collection of possible results.",
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Maximum number of entries in the returned list of equipment.",
                        "schema": {
                            "maximum": 1000,
                            "minimum": 1,
                            "type": "integer",
                            "default": 50
                        }
                    },
                    {
                        "name": "phrase",
                        "in": "query",
                        "required": false,
                        "description": "Returns data containing the text.",
                        "example": "excavator",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "description": "Results sorting order.<br>Suffix .**asc** means ascending order, .**desc** means descending order.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "default": [
                                "key.asc"
                            ],
                            "items": {
                                "type": "string",
                                "enum": [
                                    "key.asc",
                                    "key.desc",
                                    "group.asc",
                                    "group.desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "description": "List of fields which need to be returned in response.<br>When **fields** parameter is set to ***all***, then all available data are returned.<br>When **fields** parameter is empty or is set to ***default***, then request returns:<br>`key`<br>`name`<br>`group`",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "key,name"
                            },
                            "default": [
                                "default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status 200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/listEquipmentModel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error with proper HTTP response status. Details in errorMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorModel"
                                }
                            }
                        }
                    }
                },
                "x-minInformVersion": "2025.00"
            }
        },
        "/equipment/{key}": {
            "get": {
                "tags": [
                    "equipment"
                ],
                "summary": "getEquipment",
                "description": "Use this request to get the information about a specific equipment in IN-FORM.<br><br>Minimal IN-FORM version required: **2025.00**.<br>When this is not met, then error will be returned.<br>Value of minimal IN-FORM version is available in the parameter: **x-minInformVersion** in openAPI.",
                "operationId": "getEquipment",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "required": true,
                        "description": "Identification key of the equipment.",
                        "example": "LKW 3 TONNEN",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
[...]
